<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true" throwExceptions="false" internalLogLevel="Off" internalLogFile="/var/aspnet/nlog-internal.log">

	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>

	<targets>
		<target xsi:type="File" name="logfile" fileName="${when:when='${environment:ASPNETCORE_ENVIRONMENT}' == 'Development':inner=${basedir}/logs/CallLimiterWeb_${shortdate}.log:else=/var/log/CallLimiterWeb/CallLimiterWeb_${shortdate}.log}" 
				layout="${longdate} ${uppercase:${level}} [${threadid}] ${message}"
				encoding="UTF-8"
				writeBom="false"
				lineEnding="CRLF"
				archiveEvery="Day"
				maxArchiveDays="7"
				enableArchiveFileCompression="true" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile" enabled="true" />
	</rules>
</nlog>